@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  /* -- Fonts Family -- */
  --ff-font-family-raleway: "Raleway", sans-serif;
  --ff-font-family-open-sans: "Open Sans", sans-serif;

  /*-- fonts weight --*/
  --ff-raleway-small-400: 400;
  --ff-raleway-bold-700: 700;

  --ff-open-sans-small-400: 400;
  --ff-open-sans-bold-700: 700;

  /* -- Primary color -- */
  --cc-primary-dark-blue-intro-email-signup-background: hsl(217, 28%, 15%);
  --cc-primary-dark-blue-main-background:hsl(218, 28%, 13%);
  --cc-primary-dark-blue-footer-background:hsl(216, 53%, 9%);
  --cc-primary-dark-blue-testimonial-background:hsl(219, 30%, 18%);

  /* -- Accent color --*/
  --cc-accent-color-cyan-inside-call-to-action: hsl(176, 68%, 64%);
  --cc-accent-color-blue-inside-call-to-action: hsl(198, 60%, 50%);
  --cc-accent-color-light-red-error:hsl(0, 100%, 63%);

  /* -- Neutral color --*/
  --cc-neutral-color-white: hsl(0, 0%, 100%);

}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--cc-primary-dark-blue-main-background);
  overflow-x: hidden;
}

header{
  width: 90%;
  margin-inline: auto;
}

#header-section::before{
  content: "";
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cc-primary-dark-blue-testimonial-background);
  z-index: -2;
}

.mobile-background img{
  width: 116%;
  height: 200px;
  position: absolute;
  z-index: -1;
  top: 360px;
  left: -70px;
  overflow-x: hidden;
}

.header-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.header-logo img{
  width: 110px;
}

.header-navigation ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.header-navigation ul li{
  list-style: none;
}

.header-navigation ul li a{
  text-decoration: none;
  color: var(--cc-neutral-color-white);
  font-family: var(--ff-font-family-open-sans);
  font-weight: 200;
  font-size: 0.93rem;
}

.header-hero-section{
  margin-top: 60px;
  display: grid;
  align-items: center;
  width: 100%;
}

.header-hero-section img{
  width: 380px;
  margin-inline: auto;
}

.header-hero-section h3{
  text-align: center;
  font-family: var(--ff-font-family-raleway);
  color: var(--cc-neutral-color-white);
  margin-top: 20px;
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: var(--ff-raleway-bold-700);
}

.header-hero-section p{
  text-align: center;
  margin-top: 20px;
  color: var(--cc-neutral-color-white);
  font-family: var(--ff-font-family-raleway);
  width: 330px;
  margin-inline: auto;
  font-weight: var(--ff-raleway-small-400);
  line-height: 1.5;
  margin-bottom: 20px;
}

.header-hero-section button{
  padding: 20px;
  width: 300px;
  margin-inline: auto;
  border-radius: 70px;
  font-family: var(--ff-font-family-raleway);
  font-weight: var(--ff-raleway-bold-700);
  color: var(--cc-neutral-color-white);
  background-color: var(--cc-accent-color-cyan-inside-call-to-action);
  border: none;
  font-size: 1.1rem;
}

main{
  width: 85%;
  margin-inline: auto;
  overflow-x: hidden;
}

#service-section{
  margin-top: 170px;
}

.box{
  display: grid;
  margin-top: 120px;
  
}
.box img{
  margin-inline: auto;
  margin-bottom: 30px;
}

.heading-service{
  color: var(--cc-neutral-color-white);
  text-align: center;
  font-size: 1.3rem;
  font-family: var(--ff-font-family-raleway);
  font-weight: var(--ff-raleway-bold-700);
  margin-bottom: 20px;
}

.service-info{
  text-align: center;
  color: var(--cc-neutral-color-white);
  font-family: var(--ff-font-family-raleway);
  font-size: 0.95rem;
  width: 330px;
  margin-inline: auto;
  line-height: 1.4;
}

.store-text{
  width: 350px;
}

#productive-section{
  display: grid;
  margin-top: 180px;
}
.productive-hero-image{
  width: 310px;
  margin-inline: auto;
  margin-bottom: 40px;
}

.productive-heading{
  color: var(--cc-neutral-color-white);
  font-family: var(--ff-font-family-raleway);
  font-weight: var(--ff-raleway-bold-700);
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.productive-info{
  font-family: var(--ff-font-family-raleway);
  font-weight: var(--ff-raleway-small-400);
  color: var(--cc-neutral-color-white);
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 0.9rem;
  width: 320px;
}

.productive-cta{
  border-bottom: 1px solid var(--cc-accent-color-cyan-inside-call-to-action);
 
  padding-bottom: 8px;
  font-family: var(--ff-font-family-raleway);
  color: var(--cc-accent-color-cyan-inside-call-to-action);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 125px;
}

.productive-cta p{
  font-size: 0.7rem;
}
.productive-cta img{
  width: 10px;
  font-size: 0.2rem;
}
